.header{
    font-size: 100%;
    height: 25%;
    width: 100%;
    text-align: center;
    border-style: outset;
    font-family: Arial, Helvetica, sans-serif;
}

.p_title{
    font-size: 30px;
}

.p_subtitle{
    font-size: 15px;
}

.navigation{
    font-size: 100%;
    width: 100%;
    height: 75%;
    /* background-color:white; */
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.navigation a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
background-color: black;
color: white;
}

.about_me {
    font-size: 100%;
    width: 100%;
    height: 75%;
}

.p_title{
    font-size: 100%;
    height: 25%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.p_body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.work_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}